.blue.vibeJsWidget
{
	width               : 50px;
	height              : 50px;
	border              : 2px solid #00a1ff;
	background-color    : #00b6ff;
	background-image    : url("talk.png");
	background-repeat   : no-repeat;
	background-position : center;
	border-radius       : 50px;
	cursor              : pointer;
	position            : absolute;
	z-index             : 2010;
	margin              : 5px;
	box-shadow          : 0px 5px 15px #000000;
}

.blue.vibeJsWidget:hover
{
	width               : 60px;
	height              : 60px;
	margin              : 0px;
	box-shadow          : 0px 10px 25px #000000;
}

.highlight
{
	outline-color       : #00A1FF;
	outline-style       : dashed;
	box-shadow          : 0px 0px 15px #00A1FF;
}

.ratingForm
{
	width               : 120px;
	height              : 30px;
	border              : 1px solid #00a1ff;
	background-color    : #00b6ff;
	border-radius       : 15px 0px 0px 15px;
	position            : absolute;
	display             : inline-block;
	right               : -3px;
	top                 : -3px;
	box-shadow          : 0px 3px 10px #003449;
	float               : right;
}

.commentButton
{
	width               : 50px;
	height              : 50px;
	border              : 2px solid #00a1ff;
	background-color    : #00b6ff;
	background-image    : url("write.png");
	background-repeat   : no-repeat;
	background-position : center;
	border-radius       : 50px;
	cursor              : pointer;
	position            : absolute;
	z-index             : 2002;
	margin              : 5px;
	box-shadow          : 0px 5px 15px #000000;
}

.commentText
{
	min-height          : 50px;
	background-color    : #ffffff;
	border              : 2px solid #00a1ff;
	border-radius       : 5px;
	position            : absolute;
	z-index             : 2001;
	margin              : 5px;
	box-shadow          : 0px 5px 15px #000000;
}

.commentButton:hover
{
	width               : 60px;
	height              : 60px;
	margin              : 0px;
	box-shadow          : 0px 10px 25px #000000;
}

.starBar
{
	margin              : 4px 4px 4px 10px;
}

.star
{
	width               : 20px;
	height              : 20px;
	float               : left;
	background-image    : url("disabledstar.png");
	background-size     : 20px 20px;
	cursor              : pointer;
}

.launcher
{
	min-height          : 60px;
	width               : 200px;
	background-color    : #000000;
	border              : 1px solid #999999;
	border-radius       : 50px;
	box-shadow          : 0px 0px 2px #666666;
	position            : absolute;
	z-index             : 2005;
	cursor              : pointer;
}

.workspaceOverlay
{
	height              : 100%;
	width               : 100%;
	background-color    : rgba(0, 0, 0, 0.9);
	position            : fixed;
	top                 : 0px;
	right               : 0px;
	bottom              : 0px;
	left                : 0px;
	z-index             : 2000;
}

.queryBarContainer
{
	height              : 60px;
	width               : 100%;
	outline-style       : 1px solid #FF0000;
	display             : block;
}

.auditCardContainer
{
	min-height          : 45px;
	width               : 25%;
	display             : inline-block;
	float               : left;
}

.dataCardContainer
{
	min-height          : 45px;
	width               : 75%;
	display             : inline-block;
	float               : left;
	overflow-y          : visible;
}

.queryBar
{
	min-height          : 45px;
	width               : 70%;
	float               : right;
	color               : #999999;
	white-space         : nowrap;
	font-weight         : bold;
	font-size           : 15pt;
	background-color    : #000000;
	border              : 1px solid #999999;
	border-radius       : 5px;
	margin              : 10px;
	padding             : 5px;
	overflow            : hidden;
}

.dataCard
{
	min-height          : 50px;
	width               : 48%;
	margin              : 1%;
	padding             : 5px;
	background-color    : #000000;
	color               : #ffffff;
	border              : 1px solid #333333;
	border-radius       : 5px;
	float               : left;
}

.backButton
{
	min-height          : 60px;
	width               : 100px;
	background-color    : #000000;
	border              : 1px solid #999999;
	border-radius       : 50px 0px 0px 50px;
	box-shadow          : 0px 0px 2px #666666;
	position            : absolute;
	z-index             : 2005;
	cursor              : pointer;
}

@media all and (max-width: 600px)
{
	.queryBarContainer
	{
		height              : 60px;
		width               : 100%;
		margin-top          : 60px;
	}

	.auditCardContainer
	{
		width               : 100%;
	}

	.dataCardContainer
	{
		width               : 100%;
	}

	.queryBar
	{
		display             : block;
		float               : left;
		width               : 95%;
		min-height          : 30px;
		font-size           : 10pt;
	}

	.dataCard
	{
		min-height          : 30px;
		width               : 98%;
	}
}
